* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

body {
  max-width: 100vw;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: var(--red);
  background-image: url(../images/bg-intro-mobile.png);
}

.main {
  padding: 85px 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page {
  max-width: 540px;
}
.landing-page .show {
  display: block;
}
.landing-page__modal {
  display: none;
  position: absolute;
  min-width: 230px;
  top: 65%;
  left: 50%;
  margin: 10px;
  padding: 1em 2em;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 1.4rem;
  background-color: #fcfcfc;
  z-index: 10;
}
.landing-page__modal h2 {
  font-size: 1.6rem;
}
.landing-page__modal button {
  margin: 10px 0;
  padding: 1em 2em;
  border: none;
  border-radius: 6px;
  width: 100%;
  color: #fff;
  font-weight: bold;
  background-color: var(--green);
  transition: background-color 0.3s;
  cursor: pointer;
}
.landing-page__modal button:hover {
  background-color: hsl(154deg, 55%, 62%);
}
.landing-page__text-content {
  margin-bottom: 65px;
  background: none;
  text-align: center;
  color: #fff;
}
.landing-page__text-content h1 {
  font-size: 2.8rem;
  line-height: 1.3em;
  margin-bottom: 0.8em;
}
.landing-page__trial-btn {
  margin-bottom: 23px;
  padding: 16px 60px;
  width: 100%;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 9px 1px rgba(0, 0, 0, 0.15);
  font-size: 1.4rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.8em;
  background-color: var(--blue);
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s;
  cursor: pointer;
}
.landing-page__trial-btn:hover {
  background-color: hsl(248deg, 42%, 61%);
}
.landing-page__trial-btn span {
  font-weight: bold;
}
.landing-page__warn {
  display: none;
  text-align: right;
  color: var(--red);
  font-size: 1rem;
}
.landing-page .highlight {
  box-shadow: 0px 0px 20px 6px #fff;
  animation: blink 1s;
}
.landing-page__form-box {
  padding: 22px 24px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 9px 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 1s;
}
.landing-page__form-box input,
.landing-page__form-box button {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  border-radius: 5px;
}
.landing-page__form-box input {
  margin-top: 18px;
  margin-bottom: 5px;
  padding: 1em;
  width: 100%;
  border: 0.5px solid var(--grayish-blue);
  font-weight: 600;
}
.landing-page__form-box button {
  padding: 1em 2em;
  margin-bottom: 14px;
  margin-top: 6px;
  width: 100%;
  border: none;
  background-color: var(--green);
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 2px 0px hsl(155deg, 56%, 42%);
  transition: background-color 0.3s;
  cursor: pointer;
}
.landing-page__form-box button:hover {
  background-color: hsl(154deg, 55%, 62%);
}
.landing-page__form-box .active {
  display: block;
}
.landing-page__form-box .active .fa-solid {
  display: block;
}
.landing-page__form-box .active .landing-page__warn {
  display: block;
}
.landing-page__form-box .landing-page__input-box {
  position: relative;
}
.landing-page__form-box .landing-page__input-box i {
  display: none;
  position: absolute;
  font-size: 2.4rem;
  color: var(--red);
  right: 0.8em;
  top: 35%;
}
.landing-page__form-info {
  padding: 0 28px;
  text-align: center;
  font-size: 1rem;
  color: var(--grayish-blue);
  line-height: 1.8em;
}
.landing-page__form-info a {
  text-decoration: none;
  color: var(--green);
  font-weight: bold;
}

footer {
  background-color: var(--dark-blue);
  color: var(--green);
}
footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: hsl(228deg, 45%, 44%);
}

@keyframes blink {
  from {
    box-shadow: 0 9px 0 rgba(0, 0, 0, 0.15);
  }
  to {
    box-shadow: 0px 0px 20px 6px #fff;
  }
}
@media (min-width: 992px) {
  body {
    background-image: url(../images/bg-intro-desktop.png);
  }
  .main {
    padding: 0px 24px;
    min-height: 100vh;
  }
  .landing-page {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 60px;
         column-gap: 60px;
    max-width: 1200px;
  }
  .landing-page__modal {
    top: 50%;
  }
  .landing-page__text-content {
    padding: 165px 25px;
    text-align: left;
  }
  .landing-page__text-content h1 {
    font-size: 5.5rem;
    margin-bottom: 0.5em;
  }
  .landing-page .lp-box {
    max-width: 540px;
  }
  .landing-page__trial-btn {
    margin-bottom: 26px;
  }
  .landing-page__form-box {
    padding: 42px;
  }
  .landing-page__form-box input {
    margin-top: 23px;
    margin-bottom: 5px;
    padding: 1.1em;
  }
  .landing-page__form-box button {
    margin-bottom: 14px;
    margin-top: 23px;
  }
  .landing-page__form-box .landing-page__input-box i {
    top: 40%;
  }
}/*# sourceMappingURL=style.css.map */